@import "Global.scss";

#sidebar {
    position: fixed;
    width: $sidebar-width;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    border-right: 1px solid #E4E7EC;
    transition: 0.5s ease;
    z-index: 10000;

    @media only screen and (max-width: 1200px) {
        left: -$sidebar-width;
    }

    .top-section {
        border-bottom: 1px solid lightgrey;

        .links {
            a {
                text-decoration: none;
            }

            .link {
                padding: 8px 12px;
                
                border-radius: 5px;

                i {
                    font-size: 20px;
                    color: #667185;
                    margin-right: 10px;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #344054;
                }
                
            }

            .link:not(.active) {
                &:hover i, &:hover span {
                    color: $color-1;
                    transition: 0.5s;
                }
            }

            .link.active {
                background-color: $color-4;

                i {
                    color: $color-1;
                }

                span {
                    color: #101928;
                    font-weight: 600;
                }
            }
        }
    }

    .bottom-section {
            a {
                text-decoration: none;
            }

            .link {
                padding: 8px 12px;
                
                border-radius: 5px;

                i {
                    font-size: 20px;
                    color: #667185;
                    margin-right: 10px;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #344054;
                }
                
            }
    }
    
}


@media only screen and (max-width: 1200px) {
    #sidebar.open {
        left: 0px !important;
    }
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;

    .close-sidebar {
        position: fixed;
        top: 20px;
        right: 20px;

        i {
            font-size: 25px;
            color: white;
        }
    }
}
